.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-nav {
  background-color: hsl(128, 67%, 29%);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: rgb(55, 182, 77);

}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: brown;
  color: white;
  padding-right: 20px ;
  
}

.App-link {
  color: hsl(195, 38%, 94%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
